<!DOCTYPE html>
<html ng-app="PicoContacts">
<head>
    <meta charset="utf-8">
    <title>PicoContacts - Sync your contacts with Owncloud</title>
    <meta name="description" content="Sync your contacts with your own Owncloud intance.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/brick-1.0.1.byob.min.css">
    <link rel="stylesheet" href="assets/css/pure.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <div id="app" ng-controller="AppController">
        <div id="globalMenuContainer" class="menuHidden">
            <ul id="menuList">
                <li ng-click="routeFromMenuTo('')">Home</li>
                <li ng-click="routeFromMenuTo('configure')">Config</li>
                <li ng-click="routeFromMenuTo('localContacts')">Local Contacts</li>
                <li ng-click="routeFromMenuTo('remoteContacts')">Remote Contacts</li>
                <li ng-click="routeFromMenuTo('sync')">Sync</li>
            </ul>
        </div>
        <ng-view></ng-view>
    </div>

    <script src="assets/js/libs/jquery-2.1.1.js"></script>
    <script src="assets/js/libs/angularjs_1.3.0b.js"></script>
    <script src="assets/js/libs/angularjs-route.js"></script>
    <script src="assets/js/libs/brick-1.0.1.byob.min.js"></script>

    <script src="app.js"></script>
    <script src="controllers/AppController.js"></script>
    <script src="controllers/IndexController.js"></script>
    <script src="controllers/AboutController.js"></script>
    <script src="controllers/LocalContactsController.js"></script>
    <script src="controllers/ConfigureController.js"></script>

</body>
</html>