body {
    font-family: "Fira Sans","Fira Sans","Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
}

a, a:hover, a:active {
    color: #ad3d3d;
    text-decoration: none;
}

.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
}

x-appbar h1 {
    font-size: 1.3em;
}

#globalMenuContainer {
    background-color: #00202f;
    min-width: 25%;
    position: absolute;
    top: 45px; /* height of appbar */
    left: 0;
    color: #fff;
    font-size: 0.7em;
}

#menuList {
    list-style: none;
    padding-left: 0;
}

#menuList li {
    padding: 1vh 5vw 1.5vh 5vw;
    border-bottom: #c0c0c0 solid 1px;
    line-height: 5vh;
}

#menuList li:last-child {
    margin-bottom: 2vh;
    border-bottom: 0px;
}

.menuHidden {
    display: none;
}

.menuDisplayed {
    animation: animateMenu 1s;
    height: 40vh;
    display: block;
}

/* TODO: list (<ul>) is shown without animation */
@keyframes animateMenu {
    0% { height: 0vh; }
    100% { height: 40vh; }
}

#container {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 0.7em;
}

.alert {
    background-color: rgb(255, 131, 127);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 1px 2px 1px 5px;
}

#index {
    text-align: center;
}

#indexTextContent {
    text-align: left;
}

#indexLogo {
    margin-top: 5vh;
    height: 50%;
    width: 50%;
}

#configureButton {
    margin-top: 0.5em;
}

#aboutList {
    list-style: none inside;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}