<div id="about">
    <x-appbar>
        <button ng-click="toggleMenu()">=</button>
        <h1>About us</h1>
    </x-appbar>
    <div id="container">
        <div id="aboutTextContent">
            <h3>Author</h3>
            <p>This app is developed by Michael Kohler.</p>
            <ul id="aboutList">
                <li>Mozilla Representative</li>
                <li><a href="http://www.michaelkohler.info" target="_blank">michaelkohler.info</a></li>
                <li>under the <strong><a href="http://www.picobudget.com" target="_blank">PicoBudget.com</a></strong> umbrella</li>
            </ul>
            <h3>Contact</h3>
            <ul id="aboutList">
                <li>mkohler@picobudget.com</li>
                <li>@KohlerSolutions on Twitter</li>
            </ul>

            <h3>Open Source</h3>
            <p>Have you found a bug? Feel free to fix it in the GitHub repository:</p>
            <a class="pure-button" href="http://www.github.com/MichaelKohler/PicoContacts" target="_blank">View Source on GitHub</a>

            <h3>Privacy</h3>
            <p>We value your privacy, therefore we will never sell or give away any information we get from you. No contacts, no passwords, nothing!</p>
        </div>
    </div>
</div>